@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.explorer{
    text-align: center;
    & h2{
        margin-top: 2rem;
        font-size: 2rem;
    }
    & p{
        font-size: 1.5rem;
    }
    & button{
        @include mixins.base-button;
    }
    & button:hover{
        transform: scale(1.09);
        opacity: 0.9;
        cursor: pointer;
    }
}
.loader{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    opacity: 0.9;
    height: 100vh;
    inset: 0;
    z-index: 1;
    animation: disappear 300ms 3s forwards;
    i{
        animation: spin 3s ease-in ;
        color: #9356dc;
    }
}

@keyframes disappear{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}