@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.explorer{
    text-align: center;
    & h2{
        margin-top: 2rem;
        font-size: 2rem;
    }
    & p{
        font-size: 1.5rem;
    }
    & button{
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        background-image: colors.$linear-gradiant;
        transition: 100ms;
        margin-top: 1.5rem;
        @include mixins.base-shadow;
    }
    & button:hover{
        transform: scale(1.09);
        opacity: 0.9;
    }
}