@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.explorer{
    text-align: center;
    & h2{
        margin-top: 2rem;
        font-size: 2rem;
    }
    & p{
        font-size: 1.5rem;
    }
    & button{
        @include mixins.base-button;
    }
    & button:hover{
        transform: scale(1.09);
        opacity: 0.9;
        cursor: pointer;
    }
}