header{
    text-align: center;
    box-shadow: 0 0 0.5rem rgb(0 0 0 /25%);
    padding: 0.3rem;
    margin: 0;
    position: relative;
    img{
        height: 2rem;
        margin: 2rem 4rem 1.5rem 4rem;
    }
}
