@use "../utils/variables.scss";

.menus{
    padding-bottom: 2rem;
    background-color: #f6f6f6;
    h2{
        padding: 2rem 0 0 2rem;

    }

    .menus__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        @media (max-width: variables.$breakpoints){
            grid-template-columns: repeat(1, 1fr);
        }
        margin: 2rem;
    }
    
    .card{

        &__image{
            background-image: url("C:/Users/Amadou/OneDrive/Bureau/Oh_My_Food/images/menu_1.jpg");
            height: 15rem;
            background-size: cover;
            border-radius: 1.5rem;
        }
    }

}

