@use "../utils/mixins.scss";
@use "../utils/variables.scss";
@use "../utils/colors.scss";

$tuto-bullet-height : 1rem;

.tuto{
    h2{
        padding: 2rem 0 0 2rem;
    }
    p{
        margin: auto;
        font-size: 1.2rem;
        padding: 2%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: bold;
    }
    margin-bottom: 2rem;
    & ol{
        display: flex;
        gap: 2rem;
        margin-right: 2rem;
        @media (max-width: 1187px){
            flex-direction: column;
        }
    }
    & li{
        display: flex;
        position: relative;
        counter-increment: list;
        &::before{
            content: counter(list);
            color: white;
            background-color: colors.$purple;
            width: 2 * $tuto-bullet-height;
            height: 2 * $tuto-bullet-height;
            display: grid;
            place-items: center;
            border-radius: 1rem;
            position: absolute;
            bottom: 30%;
            left: -$tuto-bullet-height;
        }
        &:hover{
            background-color: rgba(147, 86, 220, 0.2);
            & i.fas{
                color: #9356dc;
            }
            @include mixins.box-shadow2;
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.2rem 2rem;
        flex-grow: 1;
        border-radius: 1.5rem;
        @include mixins.box-shadow;
        &:hover{
            cursor: pointer;
        }
        & i.fas{
            padding: 2%;
            color: colors.$lightgrey;
            font-size: 1.5rem;
        }
    }
}