@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@300;400;500&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: white;
  border-radius: 1rem;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}
.city i {
  font-size: 1.5rem;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: 100ms;
  margin-top: 1.5rem;
  box-shadow: -7px 9px 18px -6px rgba(0, 0, 0, 0.63);
}
.explorer button:hover {
  transform: scale(1.09);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
}
.tuto h2 {
  padding: 2rem 0 0 2rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 944px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.2rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: -7px 9px 18px -6px rgba(0, 0, 0, 0.63);
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  position: absolute;
  bottom: 20%;
  left: -1rem;
}
.tuto li:hover {
  transform: scale(1.02);
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.menus {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background-color: #f6f6f6;
}
.menus h2 {
  padding: 2rem 0 0 2rem;
}
.menus .menus__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 2rem;
}
@media (max-width: 944px) {
  .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .new {
  border: "";
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .card__image {
  height: 15rem;
  background-size: cover;
  border-radius: 1rem 1rem 0 0;
}
.menus .card__image-1 {
  background-image: url("C:/Users/Amadou/OneDrive/Bureau/Oh_My_Food/images/menu_1.jpg");
}
.menus .card__image-2 {
  background-image: url("C:/Users/Amadou/OneDrive/Bureau/Oh_My_Food/images/menu_2.jpg");
}
.menus .card__image-3 {
  background-image: url("C:/Users/Amadou/OneDrive/Bureau/Oh_My_Food/images/menu_3.jpg");
}
.menus .card__image-4 {
  background-image: url("C:/Users/Amadou/OneDrive/Bureau/Oh_My_Food/images/menu_4.jpg");
}
.menus .card__description {
  position: relative;
}
.menus .card__description h3, .menus .card__description p {
  margin: 0.5rem;
}
.menus .card i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 20%;
}

footer {
  background-color: #353535;
  padding: 1rem;
  color: white;
  padding: 1rem;
}
footer i {
  margin-right: 0.5rem;
}
footer h2 {
  font-family: "shrikhand";
  font-weight: 500;
}
footer a {
  background-color: transparent;
  border: none;
}
footer p {
  padding: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
