@mixin spin {
    
    @keyframes spin{
        0%{
            transform: rotate(-270deg);
        } 
        100%{
            transform: rotate(0);
        }
    }
}

@keyframes appear{
    0%{
        transform: translateZ(-100px) translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

