$lightgrey: #7e7e7e;
$purple: #9356dc;
$color-tertiaire : #99e2d0;
$darkgrey : #353535;
$linear-gradiant : linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
$linear-gradiant2 : linear-gradient(to top, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
